<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <connectionStrings>
    <!--<add name="connectionString" connectionString="Data Source=10.160.200.39; Initial Catalog=auto_code;Persist Security Info=True;User ID=sa;Password=lixil@2014"
      providerName="SQLNCLI10.1" />-->
    <add name="connectionString" connectionString="Data Source=WIN7U-20150705K\R2; Initial Catalog=auto_code;Persist Security Info=True;User ID=sa;Password=1983313a" providerName="SQLNCLI10.1"/>
    <add name="ConnectionString1" connectionString="Data Source=ot2414;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="ActiveDatabaseSoftware.ActiveQueryBuilder2.Web.Control, Version=2.14.0.0, Culture=neutral, PublicKeyToken=3CBCBCC9BF57ECDE"/>-->
        <!--<add assembly="ActiveDatabaseSoftware.ActiveQueryBuilder2.Web.Server, Version=2.14.0.0, Culture=neutral, PublicKeyToken=3CBCBCC9BF57ECDE"/>-->
        <!--<add assembly="ActiveDatabaseSoftware.ActiveQueryBuilder2, Version=2.10.10.817, Culture=neutral, PublicKeyToken=3CBCBCC9BF57ECDE"/>-->
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--危険な可能性のある Request.Form 値がクライアントから検出されました-->
    <globalization fileEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>