

input
{
	font-family:Courier, monospace,'MS Sans Serif', Geneva, sans-serif;
	vertical-align:middle;
	padding:1px 1px 1px 4px;
	
}
td
{
	font-family:Courier, monospace,'MS Sans Serif', Geneva, sans-serif;

}