<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <connectionStrings>
       <add name="connectionString" connectionString="Data Source=10.160.200.39; Initial Catalog=auto_code;Persist Security Info=True;User ID=sa;Password=lixil@2014" providerName="SQLNCLI10.1"/>
    </connectionStrings>
  
</configuration>